<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
<body>
  
<form action="/logout" method="post">
  <input type="submit" value="Sign Out" />
</form>

<button type="button" onclick="location.href='/auteur/edit'">
  Create Author
</button>
<table border="1" class="styled-table">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Actions</th>
  </tr>
  {% for a in auteurs %}
  <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.nom }}</td>
    <td>{{ a.prenom }}</td>
    <td>
      <button type="button" onclick="location.href='/auteur/edit/{{a.id}}'">
        Edit
      </button>
      <button type="button" onclick="location.href='/auteur/remove/{{a.id}}'">
        Remove
      </button>
    </td>
  </tr>
  {% endfor %}
</table>

<br />
<br />

<form action="/?">
  <input hidden type="text" name="elements" value="{{elements}}" >
  <input hidden type="text" name="page" value="{{page}}" >
  
  <select name="sort" onchange="this.form.submit()">
    <option {% if sort == "default": %} selected {% endif %} value="default"> 
      Default
    </option>
    <option {% if sort == "asc": %} selected {% endif %}  value="asc"> 
      Oldest
    </option>
    <option {% if sort == "desc": %} selected {% endif %}  value="desc"> 
      Latest
    </option>
  </select>
</form>

<form action="/?" method="get">
  <input hidden type="text" name="sort" value="{{sort}}" >
  <input hidden type="text" name="page" value="{{page}}" >
  <select name="elements" onchange="this.form.submit()">
    {% for n in [2,4,10]:%}
      <option value="{{n}}" {% if elements==n %} selected {% endif %} >{{n}}</option>
    {% endfor %}
  </select>

<button type="button" onclick="location.href='/livre/edit'">
  Create Livre
</button>

<button type="button" onclick="location.href='/?page={{prev}}&elements={{elements}}&sort={{sort}}'"> 
  Prev 
</button>
Pages {{page}}/{{pages}}
<button type="button" onclick="location.href='/?page={{next}}&elements={{elements}}&sort={{sort}}'"> 
next
</button>

<table border="1" class="styled-table">
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>Date</th>
    <th>Auteur</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
  {% for l in livres %}
  <tr>
    <td>{{ l.id }}</td>
    <td>{{ l.titre }}</td>
    <td>{{ l.date.strftime('%Y-%m-%d') }}</td>
    <td>{{ l.auteur.nom+" "+l.auteur.prenom }}</td>
    <td>
      <table class="styled-table">
        {% for t in l.tags %}
        <tr>
          <td>{{t.titre}}</td>
        </tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <button type="button" onclick="location.href='/livre/edit/{{l.id}}'">
        Edit
      </button>
      <button type="button" onclick="location.href='/livre/remove/{{ l.id }}'">
        Remove
      </button>
    </td>
  </tr>

  {% endfor %}
</table>


</body>