<form action="/logout" method="post">
  <input type="submit" value="Sign Out" />
</form>

<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>

<button type="button" onclick="location.href='/auteur/edit'">
  Create Author
</button>
<table border="1" class="styled-table">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Actions</th>
  </tr>
  {% for a in auteurs %}
  <tr>
    <td>{{ a.id }}</td>
    <td>{{ a.nom }}</td>
    <td>{{ a.prenom }}</td>
    <td>
      <button type="button" onclick="location.href='/auteur/edit/{{a.id}}'">
        Edit
      </button>
      <button type="button" onclick="location.href='/auteur/remove/{{a.id}}'">
        Remove
      </button>
    </td>
  </tr>
  {% endfor %}
</table>

<br />
<br />

<table border="1" class="styled-table">
  <tr>
    <th>ID</th>
    <th>Titre</th>
    <th>Date</th>
    <th>Auteur</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
  {% for l in livres %}
  <tr>
    <td>{{ l.id }}</td>
    <td>{{ l.titre }}</td>
    <td>{{ l.date.strftime('%Y-%m-%d') }}</td>
    <td>{{ l.auteur.nom+" "+l.auteur.prenom }}</td>
    <td>
      <table class="styled-table">
        {% for t in l.tags %}
        <tr>
          <td>{{t.titre}}</td>
        </tr>
        {% endfor %}
      </table>
    </td>
    <td>
      <button type="button" onclick="location.href='/livre/edit/{{l.id}}'">
        Edit
      </button>
      <button type="button" onclick="location.href='/livre/remove/{{ l.id }}'">
        Remove
      </button>
    </td>
  </tr>

  {% endfor %}
</table>
