<style>
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
  }
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
</style>

<form action="/livre/submit" method="post">
  <input hidden name="id" value="{{livre.id}}" />

  <table class="styled-table" border="1">
    <tr>
      <td>
        Titre
        <input type="text" name="titre" value="{{livre.titre}}" required />
      </td>
      <td>
        <select name="auteur_id" required>
          <option value=""></option>
          {% for a in auteurs %}
          <option
            value="{{a.id}}"
            {% if livre != None and livre.auteur.id == a.id %}
                selected
            {% endif %}
          >
            {{a.prenom}} {{a.nom}}
          </option>
          {% endfor %}
        </select>
      </td>
      <td>
        Date
        <input
          type="text"
          size="12"
          pattern="\d{1,2}/\d{1,2}/\d{4}"
          placeholder="dd/mm/yyyy"
          required
          {% if livre != None: %}
            value="{{livre.date.strftime('%d/%m/%') }}"
          {% else: %}
            value=""
          {% endif %}
          name="date"
          on
          autocomplete="on"
        />
      </td>
      <td>
        <select name="tagIds" multiple required size="12" style="height: 100%">
          {% for t in tags %}
          <option 
            value="{{t.id}}" 
            {% if livre != None and livre.isTag(t) %} selected {% endif %}>
            {{t.titre}}
          </option>
          {% endfor %}
        </select>
      </td>
      <td>
        <input type="submit" value="Submit" />
      </td>
    </tr>
  </table>
</form>

<form>
  <input type="button" value="Annuler" onclick="history.back()" />
</form>
